


li {
    list-style-type: none;
}
b {
    font-size: 20px;
}
body { 
    background-color: #1fd3ca;
    color: #17333b;
    font-family: Verdana, Arial, sans-serif;
    margin-left: 200px;
    
    
}
header {
    height: 200px;
    background-image: linear-gradient(rgb(14, 237, 245), rgb(13, 75, 80));
    border: 1px solid cyan;
    margin-top: 0px;
}
h1 {
    padding-top: auto;
    font-size: 3em;
    padding-bottom: auto;
    text-align: center;

    
}
h2 {
    padding-left: 0em;
    padding-right: 2em;
    float: left;
    text-align: left;
}
header h1 {
    text-align: center;
    font-size: 60px;
    text-shadow: 2px 2px 5px rgb(3, 79, 85);

}


table {
    margin: auto;
    width: 90%;
    border-spacing: 0;
    background-color: 0;
    margin-top: 3px;
    padding-top: 10px;
}

td {
    padding: 10px;
}

th {
    padding: 10px;
}

.altTable2 {
  background-color: #237e99b9;
  color: black;
  border-radius: 15px;
  padding: 20px;
}

.altTable {
    background-color: #04232c75;
    color: black;
    border-radius: 15px;
    padding: 20px;
}


nav {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  float: left;
  background-color: #2f383a;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

nav a {
    text-decoration: none;
}

nav a:link {
color: rgb(5, 119, 119)
}
nav a:visited {
color: #7ceef1;
}
nav a:hover {
color: #fc9700;
display: block;
background-color: rgb(71, 190, 190);
}

nav ul {
  padding-left: 0;
  list-style-type: none;
}
footer {
  background-color: #2f383a;
  font-size: .60em;
  text-align: center;
  padding-bottom: 10px;
  /* border-top: #000000 2px;
  border-style: solid;  */
  width: 90%;
  position: fixed;
  bottom: 0;
  height: 50px;
  color: #7ceef1;
}

main {
  display: block;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  /* margin-top: 220px; */
  width: 800px;
}
img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  float: left;
  margin-right: 20px;
}

/* #wrapper {
width: 80%;
margin-right: auto;
margin-left: auto;
background-color: #d8be14;
min-width: 900px;
max-width: 1280px;
box-shadow:rgb(233, 46, 46);
background-color: #f018e1;
} */

* {
  box-sizing: border-box;
}



header, nav, main, footer {
  display: block;
}

